AWS_ACCESS_KEY_ID=SEU_ACCESS_KEY_AQUI
AWS_SECRET_ACCESS_KEY=SEU_SECRET_KEY_AQUI
AWS_DEFAULT_REGION=us-east-1
AWS_ACCOUNT_ID=SEU_ACCOUNT_ID_AQUI

RAW_BUCKET=raw-zone-<account-id>
BRONZE_BUCKET=bronze-zone-<account-id>
SILVER_BUCKET=silver-zone-<account-id>
GLUE_SCRIPTS_BUCKET=meu-datalake-glue-scripts-<sufixo>

# Monitoramento
ALERT_EMAIL=seu-email@dominio.com

# GitHub / CodePipeline
GITHUB_SECRET_NAME=cloudmart/github-token
GITHUB_OWNER=SEU_USUARIO_GITHUB
GITHUB_REPO=NOME_DO_REPO
GITHUB_BRANCH=main

DBT_PROFILE=cloudmart
